@import "@font/nunito";

.feed-window {
    width: 100%;
    display: flex;
    justify-content: center;
}

.feed-flex-container {
    margin-top: 75px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 100px;

}

.feed-item {
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 1 0 calc(70% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.name-text {
    margin-right: auto;
}

.caption-text {
    font-weight: light;
    opacity: 60%;
    font-size: 10px;
}

hr {
    width: 70%;
}

.outfit {
    padding-top: 5px;
    height: 20vmin;
}




.row-icon {
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}