@import "@font/nunito";

p {
  font-family: var(--fontFamily-nunito);
}

.titleBlock {
  color: black;
}

.titleBlock h3 {
  margin: 0;
}

.unselectedIcon {
  opacity: 0.4;
}

.clothingType img {
  max-width: 10vmin;
}

.clothesList img {
  max-width: 100%;
}

.addIcon {
  max-width: 5vmin;
  align-items: right;
}

.clothesList table, .clothesList td, .clothesList tr {
  border: 4px solid #EBB3A9;
  border-collapse: collapse;
}

.clothesList table {
  width: 100%;
}

.clothesList td {
  width: 33%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  width: 400px;
  height: 700px;
  border: 1px solid black;
  background-color: #E86252;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}